.pageTitle {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}
.postForm {
  margin-top: 50px;
  h2 {
    color: #5e2faa;
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 300;
  }
}

footer {
  display: flex;
  flex-direction: row;
  .socialIconsWrapper {
    position: fixed;
    bottom: 0;
    .socialIcons {
      margin-right: -8px;
      font-size: 2.5rem;
      color: $PURPLE;
      &:hover {
        color: $LIGHT_PURPLE;
      }
    }
  }
}
