.pageTitle {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}
.addPostImg {
  width: 300px;
}
.postForm {
  margin-top: 50px;
  h2 {
    color: #5e2faa;
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 300;
  }
}
