.myPostsContainer {
  .myPostsTitle {
    color: #5e2faa !important;
    font-family: "Ubuntu", sans-serif !important;
  }
}

.ui.container {
  .loginWrapper,
  .registerWrapper {
    margin-top: 50px !important;
  }
}

.postPageCardAvatar {
  display: none !important;
}

@media only screen and(max-width:768px) {
  .postPageCardAvatar {
    display: block !important;
  }
} ;
