.myPostsContainer {
  .myPostsTitle {
    color: #5e2faa !important;
    font-family: "Ubuntu", sans-serif !important;
  }
}

.ui.container {
  .loginWrapper,
  .registerWrapper {
    margin-top: 50px !important;
  }
}
