.ui.menu.secondary {
  font-family: "Ubuntu", sans-serif;
  .ui.container {
    .item {
      color: $BLACK !important;
      transition: all 0.1s ease-in-out;
      &:hover {
        color: $PURPLE !important;
      }
    }
    .active.item {
      border-color: $PURPLE !important;
      color: $DARK_PURPLE !important;
    }
    .right.menu {
      .item.myPostsMenuLink {
        color: $PURPLE !important;
        transition: all 0.1s ease-in-out;
        font-weight: 600;
        &:hover {
          color: $DARK_PURPLE !important;
        }
      }
      .active.item.myPostsMenuLink {
        color: $DARK_PURPLE !important;
      }
    }
  }
}
